/* src/components/css/ChangePassword.css */


.changepassword #one {
    width:50%;
    

}


.changepassword h2 {
    text-align: center;
    color: #333;
}


.changepassword form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changepassword form div {
    margin-bottom: 15px;
    align-items: center;
}

.changepassword label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

.changepassword input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 0;
}

.changepassword sinput[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.changepassword button {
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.changepassword button:hover {
    background-color: #0056b3;
}

.error {
    color: #d9534f;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.message {
    color: #5bc0de;
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.changepassword p {
    text-align: center;
    color: #555;
}