

.head #title{
    font-family:"Spicy Rice", serif;
    color: white;
    background-color: rgb(122, 2, 158);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    font-size: 45px;
    letter-spacing: 2px;
}