

.head #title{
    font-family:"Spicy Rice", serif;
    color: white;
    background-color: rgb(76, 0, 147);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    font-size: 45px;
    letter-spacing: 2px;
    border-radius: 75px;
    border: solid 1px white;
    
}

